<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="memberSQL">
 	<!-- login -->
 	<select id="login" parameterType="java.util.Map" resultType="member.bean.MemberDTO">
 		select * from member where id=#{id} and pwd=#{pwd}
 	</select>
 	
 	<!-- Id 중복 check -->
 	<select id="isCheckID" parameterType="java.lang.String" resultType="member.bean.MemberDTO">
 		select * from member where id=#{id}
 	</select>
 	<!-- 우편번호 -->
 	<select id="getZipcodeList" parameterType="java.util.Map" resultType="zipcode">
 		select * from newzipcode where
 		 sido like '%'||#{sido}||'%' and 
 		 sigungu like '%'||#{sigungu}||'%' and 
 		 roadname like '%'||#{roadname}||'%'
 	</select>
 </mapper>
